MYSQL_DSN=appuser:apppass@tcp(mysql:3306)/player-stat-db?parseTime=true&charset=utf8mb4&collation=utf8mb4_unicode_ci
R2_BUCKET=flix-storage-importer
R2_ACCESS_KEY=your-access-key
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_ENDPOINT=https://<your-r2-endpoint>
R2_REGION=eu-central-2